################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/DictionaryCommandValidator/DictionaryCommandValidator/obj
/DictionaryCommandValidator/.vs/DictionaryCommandValidator/v16/.suo
/DictionaryCommandValidator/DictionaryCommandValidator/bin/Debug/net5.0
/DictionaryCommandValidatorLib/bin/Debug/net5.0
/DictionaryCommandValidatorLib/obj
